---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Biography">
    <main>
        <div class="flex gap-4">
            <h1 class="text-3xl">ARNAU RIOS BUIL</h1>
            <p class="self-end">INDEX <span>/</span> BIOGRAPHY</p>
        </div>
    </main>
</Layout>

<style>
    :root {
    }

    main {
        color: white;
        line-height: 1.6;
        height: 100%;
        padding: 1rem;
    }
</style>
