---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import BiographyImage from "../images/Biography-photo.jpg";
---

<Layout title="Arnau Rios I Buil">
	<main>
		<!-- About Me section -->
		<div
			class="row grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4"
		>
			<div class="card left-card">
				<h1>ARNAU RIOS I BUIL</h1>
				<p>Full-Stack Developer specialized in system design</p>
				<div>
					<p>Sabadell</p>
					<p>Barcelona</p>
				</div>
			</div>
			<div class="card middle-card">
				<h3>Biography</h3>
				<img src={BiographyImage.src} alt="" />
				<div class="bottom-info">
					<div>
						<p>Graduated in Web Development</p>
						<p>Looking for a full time job</p>
					</div>
					<p>See more</p>
				</div>
			</div>
			<div class="card right-card">
				<div>
					<h3>Interests</h3>
					<ul>
						<li>Web Design</li>
						<li>Interface Design</li>
						<li>Videogames</li>
						<li>Databases</li>
					</ul>
				</div>
				<div>
					<h3>Socials</h3>
					<ul>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">LinkedIn</a></li>
						<li><a href="#">Instagram</a></li>
						<li><a href="#">TikTok</a></li>
					</ul>
				</div>
			</div>
			<!-- Projects section -->
			<Project
				title="CHROM VANADIUM"
				description="Research, development, or marketing efforts for a material commonly used in high-quality tools."
				href="#"
				img="https://unsplash.it/400/400"
			/>
			<Project
				title="CHROM VANADIUM"
				description="Research, development, or marketing efforts for a material commonly used in high-quality tools."
				href="#"
				img="https://unsplash.it/400/400"
			/>
			<Project
				title="CHROM VANADIUM"
				description="Research, development, or marketing efforts for a material commonly used in high-quality tools."
				href="#"
				img="https://unsplash.it/400/400"
			/>
			<Project
				title="CHROM VANADIUM"
				description="Research, development, or marketing efforts for a material commonly used in high-quality tools."
				href="#"
				img="https://unsplash.it/400/400"
			/>
		</div>
	</main>
</Layout>

<style>
	:root {
		--background-color: #060608;
		--background-card-color: #353536;
	}

	main {
		color: white;
		background-color: var(--background-color);
		line-height: 1.6;
		height: 100%;
		padding: 1rem;
	}

	.card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem;
		border-radius: 15px;
	}

	.middle-card {
		background-color: var(--background-card-color);
	}

	.middle-card img {
		height: 400px;
		width: 400px;
		align-self: center;
		padding: 1rem;
	}

	.middle-card h3 {
		text-align: right;
	}

	.middle-card .bottom-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.right-card {
		align-items: flex-end;
	}

	.right-card div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100px;
	}
</style>
