---
	import Layout from "../layouts/Layout.astro";
	import Project from "../components/Project.astro";
	import BiographyImage from "../images/Biography-photo.jpg";
---

	<Layout title="Arnau Rios I Buil">
		<main>
			<!-- About Me section -->
			<div
				class="row grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4"
			>
				<div class="card left-card">
					<h1>ARNAU RIOS I BUIL</h1>
					<p>Full-Stack Developer specialized in system design</p>
					<div>
						<p>Sabadell</p>
						<p>Barcelona</p>
					</div>
				</div>
				<a href="biography">
					<div class="card middle-card">
						<h3 class="secondary-color">Biography</h3>
						<img src={BiographyImage.src} alt="Portrait Photo" />
						<div class="bottom-info">
							<div>
								<p>Graduated in Web Development</p>
								<p class="secondary-color">Looking for a full time job</p>
							</div>
							<p class="text-center">See more</p>
						</div>
					</div>
				</a>
				<div class="card right-card flex lg:items-end md:items-start sm:items-start">
					<div>
						<h3 class="secondary-color">Interests</h3>
						<ul>
							<li>Web Design</li>
							<li>Interface Design</li>
							<li>Videogames</li>
							<li>Databases</li>
						</ul>
					</div>
					<div>
						<h3 class="secondary-color">Socials</h3>
						<ul>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">LinkedIn</a></li>
							<li><a href="#">Instagram</a></li>
							<li><a href="#">TikTok</a></li>
						</ul>
					</div>
				</div>
				<!-- Projects section -->
				<Project
					title="CHROM VANADIUM"
					description="Research, development, or marketing efforts for a material commonly used in high-quality tools."
					href="#"
					img="https://unsplash.it/400/400"
				/>
				<Project
					title="CHROM VANADIUM"
					description="Research, development, or marketing efforts for a material commonly used in high-quality tools."
					href="#"
					img="https://unsplash.it/400/400"
				/>
				<Project
					title="CHROM VANADIUM"
					description="Research, development, or marketing efforts for a material commonly used in high-quality tools."
					href="#"
					img="https://unsplash.it/400/400"
				/>
				<Project
					title="CHROM VANADIUM"
					description="Research, development, or marketing efforts for a material commonly used in high-quality tools."
					href="#"
					img="https://unsplash.it/400/400"
				/>
			</div>
		</main>
	</Layout>

	<style>
		:root {
			--background-card-color: #353536;
			--text-secondary-color: #A5A5A5;
		}

		main {
			color: white;
			line-height: 1.6;
			height: 100%;
			padding: 1rem;
		}

		.secondary-color {
			color: var(--text-secondary-color);
		}

		.card {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 1rem;
			border-radius: 10px;
			height: 600px;
		}

		.left-card h1 {
			font-size: 30px;
		}

		.left-card p {
			width: 40%;
		}

		.middle-card {
			background-color: var(--background-card-color);
		}

		.middle-card img {
			height: 400px;
			width: 400px;
			align-self: center;
			padding: 1rem;
		}

		.middle-card h3 {
			text-align: right;
		}

		.middle-card .bottom-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.right-card div {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100px;
		}
	</style>
