---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Project
			title='CHROM VANADIUM'
			description='Research, development, or marketing efforts for a material commonly used in high-quality tools.'
			href='#'
			img="https://unsplash.it/400/400"
		/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
