---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--background-color: rgb(18,18,18);
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	@font-face {
		font-family: 'Graphik';
		src: url(../fonts/Avuh4OpxOvtDN3CjsvbNSVN1ONU~xjAnfZorI2pOA_Exu-MJzwyJ9r9XtzOM8Dqc3V3NAU4.woff);
	}

	html {
		font-family: 'Graphik';
		font-size: 20px;
		background-color: var(--background-color);
		height: 100%;
	}
	body {
		height: 100%;
	}
</style>
